<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
  </head>

  <body ng-app="app">
    <h1 class="text-center">My little to do app!</h1>

    <div id="todo" class="col-xs-6 col-xs-offset-3" ng-controller="MainCtrl">

        <div class="input-group">
          <input type="text" class="form-control" placeholder="Item to add to todo list" ng-model="newItem.item" id="todoInput">
          <span class="input-group-btn">
            <select value="Low" name="priority" id="priority">
                    <option>High</option>
                    <option>Moderate</option>
                    <option selected="selected">Low</option>
            </select>
            <button id="add-btn" class="btn btn-default" type="button" ng-click="addItem()">
              Add
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </button>
          </span>
        </div><!-- /input-group -->

      <h2>stuff i gotta do asap</h2>
      <h3>Completed:<span class:"nums">&nbsp{{noCompleted}}</span>&nbsp&nbspTo-do:<span class:"nums">&nbsp{{number}}</span></h3>

      <ul class="list-group">
        <!-- http://www.w3schools.com/css/css_float.asp -->
        <li class="list-group-item clearfix" ng-repeat="do in todos">
          <span input class="btn btn-success pull-right" type="button" ng-click="checkedOff(do); completedStyle = {color:'#b1b2b5'}">
              <span class="glyphicon glyphicon-ok " aria-hidden="true"></span>
          </span>

          <input type="text" class="editText form-control" ng-model="$parent.editTextBox" ng-show="hideEdit">
          <span class="todoText" ng-hide="hideText" ng-style="completedStyle">{{do.item}}</span>
          <span class="todoText" ng-hide="hideText" ng-style="completedStyle">--</span>
          <span class="todoText" ng-hide="hideText" ng-style="completedStyle">{{do.priority}}</span>
          <button class="btn btn-danger pull-right" type="button" ng-click="deleteItem(do)">
            <span class="glyphicon glyphicon-trash " aria-hidden="true"></span>
          </button>

          <button class="btn btn-warning pull-right" name="edit" type="button" ng-click="editItem(do); hideEdit = !hideEdit; hideText = !hideText">
            <span class="glyphicon glyphicon-edit " aria-hidden="true"></span>
          </button>

        </li>
      </ul>
    </div>

  </body>

</html>
