/* Styles go here */
body {
  background: #8fb4ef;
}

#priority{
      padding: 8px 20px;
      font-size: 15px;
}

#add-btn{
      padding: 3px 10px;
}

.btn {
  border-radius: 15%;
  padding: 5px 12px;
  margin: 0px 4px;
}

.editText {
  width: 85%;
  border: 2px solid goldenrod;
  border-radius: 4px;
  display: inline;
}

.todoText{
      font-size: 16px;
      font-weight: bold;
}
